@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  animation-name: textAnimate;
  animation-duration: 3s;
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #242424;
}

ul {
  list-style-type: none;
}

.purple {
  color: #6030b1;
}

.white {
  color: #fff;
}

.click__effect {
  cursor: pointer;
  transition: all 300ms ease;
}

.click__effect:active {
  transform: scale(1.1);
}

/*

    NAVBAR

*/

nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  display: flex;
  align-items: center;
  line-height: 0;
}

@keyframes textAnimate {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  75% {
    transform: translateY(5px);
  }
}

.nav__logo {
  cursor: pointer;
  font-size: 60px;
  color: #6030b1;
  margin-right: 12px;
  animation: logoSpin 2.5s ease;
  animation-delay: 1s;
}

.nav__logo:hover {
  animation: bounceLogo 2s ;
  animation-delay: 1s;
}

@keyframes bounceLogo {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-20px);
  }
}

@keyframes logoSpin {
  0% {
    rotate: -360deg;
  }
  50% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}

.nav__title {
  color: #6030b1;
  font-weight: 700;
}

.nav__links {
  display: flex;
  font-size: 20px;
}

.nav__link {
  margin-left: 28px;
  font-weight: bold;
  letter-spacing: 0.35px;
  display: inline-block;
}

.nav__link--list {
  display: flex;
  align-items: center;
}

.btn__contact {
  background: #6030b1;
  border-radius: 20px;
  padding: 12px 40px;
  color: #fff;
}

.btn__contact:hover {
  background: #8742ff;
}

.nav__link--effect {
  position: relative;
  display: inline-block;
}

.nav__link--effect-purple:hover:after {
 width: 100%;
 left: 0;
}

.nav__link--effect-purple:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3px;
  height: 3px;
  width: 0;
  background-color: #6415ff;
  transition: all 600ms ease-out;
}

/*

     THEME-MODE

*/

.dark-theme .landing__title,
.dark-theme .para,
.dark-theme .section__sub-title,
.dark-theme .nav__link,
.dark-theme .fa-adjust  
{
    color: #fff;
}
.dark-theme section{
    background-color: #242424;
}
.dark-theme .input__field {
  background: #242424;
  border: 1px solid #fff;
  color: #fff;
}
.dark-theme .btn__search {
  box-shadow: none;
}
.dark-theme .movie__img {
mix-blend-mode: multiply;
}
.dark-theme .nav__link--effect:after {
    background-color: white;
}

/*

    LANDING PAGE

*/



.content__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    height: 100vh;
}

.movie__img {
    width: 40vh;
    transform: rotate(-25deg);
    z-index: 2;
}

.landing__title  {
    font-size: 25px;
    text-align: center;
    color: #242424;
    margin-bottom: 20px;
    width: 100%;
    max-width: 700px;
}

.para {
  margin-top: 24px;
  font-size: 30px;
}

.input__wrapper {
  display: flex;
  margin-top: 32px;
  width: 100%;
  position: relative;
  justify-content: center;
    max-width: 700px;
    z-index: 3;
}

.input__field {
      background-color: #fff;
    border-radius: 20px;
    border: 1px solid #0a1f44;
    color: #0a1f44;
    display: inline-block;
    height: 70px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s 
cubic-bezier(.645, .045, .355, 1);
    width: 100%;
    font-size: 24px;
    padding-left: 25px;
}

.btn__search {
  width: 200px;
    margin-left: 20px;
    font-size: 40px;
    color: #fff;
    border-radius: 20px;
    border: 1px solid #6030b1;
    background-color: #6030b1;
    box-shadow: 7px 7px 14px rgba(134, 93, 204, .3);
    cursor: pointer;
}

.btn__search:hover {
  background: #8742ff;
}


/*

  SEARCH PAGE

  */

  #search__nav--bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 100%;
  }

  .search__nav {
    z-index: 5;
  }

  .input__wrapper-2 {
    display: flex;
    flex-direction: row;
  }

  .btn__search-2 {
     width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    background-color: #fff;
  }

.input__field-2 {
    color: rgba(0, 0, 0, .87);
    width: 100%;
    max-width: 800px;
    height: 60px;
    font-size: 20px;
    padding-left: 20px;
    border: none;
    outline: none;
}

.input__logo {
  font-size: 32px;
  color: #6030b1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #fff;
  margin-right: 12px;
  transition: all 400ms ease;
}

.input__logo:hover {
  color: #ee1818;
}

.search__title {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  z-index: 2;
}

.overlay {
  background: linear-gradient(rgb(96, 48, 177, 0.4),rgba(0, 0, 0, 0.5)),
   url(./assets/Search\ background.jpg);
  position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.movies {
  display: flex;
  flex-wrap: wrap;
  margin: 0 60px 0 60px;
}

.movie {
  width: 30%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;;
}

.movie__title--img {
  margin: 10px;
  max-width: 400px;
  max-height: 400px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 300ms ease;
}

.movie__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  text-align: center;
  text-overflow: hidden;
  margin-bottom: 12px;
}

.movie__year {
  margin-bottom: 12px;
}

.learn__more--btn {
  background-color: #6030b1;
  color: #fff;
  padding: 12px 20px;
  font-size: 20px;
  border-radius: 20px;
  border: none;
}

.learn__more--btn:hover {
  background-color: #8742ff;
}
